body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  padding: 13px 21px;
  background: #1e3363;
  color: #fff;
  display: flex;
}

.top-bar img {
  height: 35px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;
}

.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo {
  padding: 25px;
  padding-top: 15px;
}

.titulo h2 {
  margin: 0;
  color: #1e3363;
  font-size: 22px;
  font-weight: bold;
}

.alerta {
  background: #e8f7fb;
  border-left: 5px solid #4aa3c7;
  padding: 15px;
  margin: 0 25px 20px 25px;
  border-radius: 6px;
  color: #3f6173;
  font-size: 15px;
}

.box {
  background: white;
  margin: 0 25px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  flex: 1;
}

.header {
  background: #1e3363;
  color: white;
  padding: 15px;
  border-radius: 6px 6px 0 0;
  font-size: 17px;
  font-weight: bold;
}

.ativos {
  padding: 15px;
  font-size: 16px;
  color: #1e3363;
  font-weight: bold;
}

.vinculo {
  border-top: 1px solid #ddd;
  padding: 15px;
  font-size: 15px;
}

.vinculo strong {
  color: #1e3363;
}

.link-inativos {
  padding: 10px 15px;
  font-size: 15px;
  text-align: right;
}

.link-inativos a {
  color: #1e3363;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  display: flex;
  margin-top: 40px;
  background: #1e3363;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 13px;
  justify-content: space-between;
}

.footer img {
  height: 35px;
}
